back-end/*#
back-end/*.iml
back-end/*.ipr
back-end/*.iws
back-end/*.jar
back-end/*.sw?
back-end/*~
back-end/.#*
back-end/.*.md.html
back-end/.DS_Store
back-end/.attach_pid*
back-end/.classpath
back-end/.factorypath
back-end/.gradle
back-end/.idea
back-end/.metadata
back-end/.project
back-end/.recommenders
back-end/.settings
back-end/.springBeans
back-end/.vscode
back-end//code
back-end/MANIFEST.MF
back-end/_site/
back-end/activemq-data
back-end/bin
back-end/build
back-end/!/**/src/**/bin
back-end/!/**/src/**/build
back-end/build.log
back-end/dependency-reduced-pom.xml
back-end/dump.rdb
back-end/interpolated*.xml
back-end/lib/
back-end/manifest.yml
back-end/out
back-end/overridedb.*
back-end/target
back-end/transaction-logs
back-end/.flattened-pom.xml
back-end/secrets.yml
back-end/.gradletasknamecache
back-end/.sts4-cache
back-end/src/main/resources/application.properties
back-end/src/main/java/br/ufc/dc/validc/service/GoogleCloudStorageClient.java
back-end/src/main/resources/validc-327271341f5a.json
back-end/src/main/resources/validc.json
