.login-content{
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        width: 40%;
        border: 1px solid #ccc;
        padding: 45px 25px 10px;
        border-radius: 20px;
        box-sizing: border-box;
    }
}