.document-container{
    .document-file{
        transition: .5s;
        text-align: center;
        .file {
            height: 100%;
            width: 100%;
        }
        img {
            padding: 10px;
            box-sizing: border-box;
            height: 100%;
        }
    }
    .typePdf{
        height: 50vh;
    }
}
