.header-content{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    .brand{
        display: flex;
        align-items: center;
        color: #5f6368;
        font-size: 22px;
        p{
            margin: 0;
            padding-left: 10px;
        }
        span{
            font-size: 35px;
        }
    }
}